.introTBF {
  background-image: url('/back-transformed.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0.6); /* bg-black/60 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  transition: background-image ease-in-out 3000ms;

  /* Adicionando classes condicionais */
  @media (min-width: 640px) {
    background-color: rgba(0, 0, 0, 0.8); /* lg:bg-black/80 */
    background-attachment: fixed; /* lg:bg-fixed */
    top: 0; /* top-0 */
    background-clip: padding-box; /* bg-clip-padding */
    background-origin: content-box; /* bg-origin-content */
    background-position: center; /* bg-center */
    background-size: cover; /* bg-cover */
    background-repeat: no-repeat; /* bg-no-repeat */
    background-blend-mode: multiply; /* bg-blend-multiply */
  }
}
