

.card {
    width: 400px;
  }
  
  .card_content {
    position: relative;
    padding: 15rem 5rem;
    transform-style: preserve-3d;
    transition: transform 2500ms;
  }
  .card:hover .card_content {
    transform: rotateY(180deg);
  }
  
  .card_front,
  .card_back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .card_front,
  .card_back {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    color: white;
  }
  .card_front, .card_back{
    border-radius: 20px;
    background-color: rgba(15, 15, 15, 0.6);
    align-items: center;
  }
  .card_front::before {
    content: "";
    position: absolute;
    inset: 1rem;
    border: 3px solid red;
    transform: translateZ(2rem);
  }
  .title {
    font-family: "Teko", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    line-height: 120%;
    transform: translateZ(4.4rem);
    font-family: "MyVikingFont";
  }
  .title::first-letter{
    color: red;

  }
  .sub_title {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: translateZ(3rem);
  }
  
  .card_back {
    transform: rotateY(180deg);
    gap: 0.5rem;
  }
  .back_title {
    font-family: "Teko", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
    z-index: 30;
    text-transform: uppercase;
    align-self: center;
  }
  .back_title::first-letter{
    color: red;
  }
  
  .card_back span {
    font-weight: 600;
    color: white;
  }
  .btn {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 2.2rem;
    color: red;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 100px;
    text-align: center;
    align-self: center;
    margin-top: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(185, 0, 0);
    color: white;
    border: 2px solid rgb(185, 0, 0);
  }